@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.navbar {
  background-color: #50596988;
  color: black;
}

.user-img {
  border: 1px transparent;
  border-radius: 100px;
  width: 2em;
  margin-right: .5em;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.past-season-stats-container {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}

.past-season-stats-header {
  display: flex;
}

.year-dropdown {
  margin-right: 0;
  margin-left: auto;
  max-width: 8em;
}

.past-details-card li {
  list-style-type: none;
}

.details-current-header {
  display: flex;
  align-items: center;
}

.recent-games-container {
  display: flex;
  justify-content: center;
}

.recent-game-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: .25em;
  padding: .25em;
  text-align: center;
  width: 20em;
}

.recent-game-stats ul {
  list-style-type: none;
  margin-left: -2em;
}

.recent-games-header {
  align-self: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-list-container {
  display: flex;
  flex-direction: column;
  width:50%;
}

.search-card {
  display: flex;
  border: 1px solid black;
  margin: .25em;
  justify-content: center;
  align-items: center;
  padding: .25em 10% .25em 10%;
}

.search-card-span, .search-card-header{
  text-align: center;
  width: 100%
}

.search-img-container {
  width: 100%;
}

.search-img {
  width: 50%
}

.lines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.line-card {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: .25em 0 .25em 0;
  border-radius: 6px;
  align-items: center;
  width: 80%;
  margin-top: .5em;
}

.line-card-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.line-img-container, .line-title {
  width: 100%;
  text-align: center;
}

.line-img {
  height: 5em;
  border: 1px transparent;
  border-radius: 6px;
}

.line-management-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
}

.line-details-forwards, .line-details-defenseman, .line-details-goalie {
  display: flex;
  justify-content: center;
}

.line-details-container > .search-card-header {
  color: red;
}

.line-edit-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.line-details-card {
  margin-top: .5em;
}

.line-position-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 8em;
  text-align: center;
  border: 1px solid black;
  margin: .25em;
}

.line-search .line {
  width: 100%;
}

.line-details-img-container {
  width: 100%;
}

.line-details-img {
  width: 100%;
}

.line-position-card {
  height: 9em;
}